{% extends 'coaching/base.html' %}

{% block title %}Modifier mon profil{% endblock %}

{% block content %}
    <h2>Modifier mon profil</h2>
    <form method="post">
        {% csrf_token %}
        <fieldset>
            <legend>Informations du compte</legend>
            {{ user_form.as_p }}
        </fieldset>
        <fieldset>
            <legend>Profil</legend>
            {{ profile_form.as_p }}
        </fieldset>
        <button type="submit">Sauvegarder les changements</button>
    </form>
{% endblock %}