{% extends 'coaching/base.html'%}
{% block title %}Accueil - Votre Coach Personnel {% endblock %}

{% block content %}
<h2>Bienvenue sur Book My Coach</h2>
<p>
    Découvrez comment je peux vous aider à atteindre vos objectifs personnels et professionnels. Que vous cherchiez à améliorer votre bien-être, à développer vos compétences ou à surmonter des obstacles, je suis là pour vous accompagner.
</p>
<p>
    <strong>Le meilleur moment pour agir, c’était hier. Le deuxième meilleur moment, c’est maintenant</strong>
    <strong>🔥Ce n’est pas un rendez-vous, c’est une décision.🔥</strong>
</p>
{% endblock %}