<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Coach en Développement Personnel{% endblock %} </title>
</head>
<body>
<header>
    <h1>Book My Coach</h1>
    <nav>
        <a href="#">Accuil</a>
        <a href="#">Connection</a>
        <a href="#">Inscription</a>
    </nav>
</header>
<main>
    {% block content %}
    {% endblock %}
</main>

<footer>
    <p>&copy; 2025 - Book My Coach - Tous droits réservés.</p>
    <p>Contact: BookMyCoach@outlook.fr</p>
</footer>

</body>
</html>