<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Coach en Développement Personnel{% endblock %} </title>
</head>
<body>
<header>
    <h1>Book My Coach</h1>
    <nav>
    <a href="{% url 'home' %}">Accueil</a>

    {% if user.is_authenticated %}
        <span>Bonjour, {{ user.username }} !</span>
        <a href="{% url 'dashboard' %}">Mon Tableau de Bord</a>
        <form action="{% url 'logout' %}" method="post" style="display: inline;">
    {% csrf_token %}
    <button type="submit" style="background:none; border:none; padding:0; color: #007bff; text-decoration:underline; cursor:pointer;">
        Déconnexion
    </button>
</form>
    {% else %}
        <a href="{% url 'login' %}">Connexion</a>
        <a href="{% url 'signup' %}">Inscription</a>
    {% endif %}
</nav>
</header>
<main>
    {% block content %}
    {% endblock %}
</main>

<footer>
    <p>&copy; 2025 - Book My Coach - Tous droits réservés.</p>
    <p>Contact: BookMyCoach@outlook.fr</p>
</footer>

</body>
</html>