{% extends 'coaching/base.html' %}

{% block title %}Modifier la séance{% endblock %}

{% block content %}
    <h2>Modifier la séance</h2>
    <p>
        <strong>Client :</strong> {{ seance.client.username }}<br>
        <strong>Date :</strong> {{ seance.date|date:"d/m/Y" }}<br>
        <strong>Heure :</strong> {{ seance.heure_debut|time:"H:i" }}<br>
        <strong>Sujet :</strong> {{ seance.sujet }}
    </p>
    <hr>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Enregistrer les modifications</button>
    </form>
{% endblock %}